layout {
    cwd "~/Documents/research/cvss_prediction/"
    tab focus=true name="Research"{  
        pane close_on_exit=true{
            command "nvim" 
            args "."
        } 
    }
    tab
}
